---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
<script>
document.querySelectorAll('a[href="{{ page.url }}"]').forEach(function (item) {
  item.href += location.search
})
</script>
